// hover colors for links
$facebook: #4267b2;
$twitter: #00acee;
$youtube: #c4302b;

// 5 base colors
$color1: #012586; // resolution-blue
$color2: #065d6f; // blue-sapphire
$color3: #75d6d0; // middle-blue-green
$color4: #3ab795; // keppel
$color5: #a0e8af; // teal-deer

// darker shades
$whitesmoke-dark: #dfdfdf;
$whitesmoke-darker: #cbcbcb;
