main {
  height: 100vh;

  background-image: url(../images/header.jpeg);
  background-size: 100% 100%;
  background-attachment: fixed;

  color: $color2;

  .tab {
    height: 5%;
  }
  #content-container {
    height: 85%;

    .tabcontent {
      height: 100%;
      background-color: whitesmoke;

      div {
        margin: 0px 75px;
      }

      h2 {
        text-align: center;
      }

      @import "about", "teams";
    }
  }

  footer {
    height: 10%;
    background-color: transparent;
  }
}
